*{
    background-color: #ffff;
}

.container{
    position: fixed;
    display: inline-block;
    left: 0px; 
    top: 0px;
    bottom: 0px;
    right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    /* transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    min-width: 200px;
    min-height: 150px; */
}

.input {
    margin: 10px;
}
#text2fa{
    color: #000;
}

.label {
    display: block;
    font-size: 1em;
    color: #666;
    margin-bottom: 2px;
}

input{
    font-size: 1.4em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    width: 300px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}


/* body, lichaam van de page/  */
body{
    background-color: #cccccc !important; 
}

/* /dit hoor allemaal bij de input van de login/ */
.loginbox{
    width: 590px;
    height: 635px;
    left: 425px;
    top: 170px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(47 48 70 / 0.2);    background:#ffff;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

/* / icoon  / */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: -30px;
    left: calc(50% - 50px);
}
/* / text  / */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox h1{
    color: #000;
}
/* / maat van de input  / */
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    top: 1000px;
}

.loginbox input[type="text"], input[type="password"]
{
    width: 289px;
    border: none;
    border-bottom:solid 1px #42447D;
    margin-left: 110px;
    opacity: 0.5;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
 /* submit / */

#login{
    width: 288.09px;
    border: none;
    margin-left: 119px;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#login2fa{
    width: 288.09px;
    border: none;
    margin-left: 119px;
    
    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#qrbutton{
    width: 288.09px;
    border: none;
    margin-left: 119px;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}


#qr1{
    padding: 33px 0;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}


/* / hover bij de submit button / */
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#fca03d;
    color: #000;
}
/* / link / */
.loginbox a{
    text-decoration: none;
    font-size: 11px;
    line-height: 100px;
    color: darkgrey;
   
    right: 100px;
}
/* / hover link */
.loginbox a:hover
{
    color:#fca03d;
} 

/* Dashboard  */

.dashboard {
    position: relative;
    width: 1366px;
    height: 728px;
    left: 0px;
    top: 0px;
    display: block;
    border-radius: 10px;    
    background: linear-gradient(0deg, rgba(0, 76, 208, 0.05), rgba(0, 76, 208, 0.05)), #FFFFFF;
}

.header {
    position: absolute;
    width: 1405px;
    height: 64px;
    left: 275px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    
}

.naammdw {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 8px;
    position: absolute;
    width: 174px;
    height: 40px;
    left: 1175px;
    top: 11px;
    background: #424361;
    border: 1px solid #000000;
    border-radius: 5px;
}

.mdw {
    background: transparent;
    color:#FFFFFF
}

.pages {
    position: absolute;
    width: 247px;
    height: 32px;
    left: 1067px;
    top: 687.5px;
}

#filter {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 295px;
    top: 77px;
    background: #FFFFFF;
    color: #004CD0;
    border: 1px solid #004CD0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}
    
#add {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 108px;
    height: 40px;
    left: 1420px;
    top: 77px;
    background: #004CD0;  
    color: #FFFFFF;  
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
}

#remove {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 118px;
    height: 40px;
    left: 1540px;
    top: 77px;
    background: #CD0C0C;
    color: #FFFFFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
}

#export {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 94px;
    height: 40px;
    left: 1550px;
    top: 760px;
    background: #1E8034;
    color: #FFFFFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
}

.table {
    position: absolute;
    width: 1405px;
    height: 40px;
    left: 275px;
    top: 160px;
    background-color: #92b3d3;
}

.tablerows {
    position: absolute;
    width: 1405px;
    height: 80px;
    left: 275px;
    top: 200px;
}


.navbar {
    position: absolute;
    width: 275px;
    height: 891px;
    left: 0px;
    top: 0px;  
    background: #424361;
}

.navbar input{
    position: absolute;
    width: 230px;
    height: 16px;
    left: 10px;
    top: 97px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#dashboardButton{
    position: absolute;
    border: none;
    width: 275px;
    height: 48px;
    left: 0px;
    top: 160px;
    background: #424361;
    color: #FFFFFF;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#urenButton{
    position: absolute;
    border: none;
    width: 275px;
    height: 48px;
    left: 0px;
    top: 214px;
    background: #424361;
    color: #FFFFFF;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#urenPicto{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 5px;
    top: 12px;
    line-height: 22px;
}

#MdwRegButton{
    position: absolute;
    border: none;
    width: 275px;
    height: 48px;
    left: 0px;
    top: 268px;
    background: #424361;
    color: #FFFFFF;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#uitloggenButton{
    box-sizing: border-box;
    position: absolute;
    border: none;
    width: 275px;
    height: 48px;
    left: 0px;
    top: 810px;  
    background: #424361;
    color: #FFFFFF;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.footer {
    box-sizing: border-box;
    position: absolute; 
    width: 1405px;
    height: 49px; 
    left: 275px;    
    top: 840px;
    background: #FFFFFF;
    border-top: 1px solid #ACACAC;
}
