/* *{
    background-color: #ffff;
} */

.container{
    position: fixed;
    display: inline-block;
    left: 0px; 
    top: 0px;
    bottom: 0px;
    right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    /* transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    min-width: 200px;
    min-height: 150px; */
}

.input {
    margin: 10px;
}
#text2fa{
    color: #000;
}

.label {
    display: block;
    font-size: 1em;
    color: #666;
    margin-bottom: 2px;
}

input{
    font-size: 1.4em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    width: 300px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}


/* body, lichaam van de page/  */
body{
    background-color: #cccccc !important; 
}

/* /dit hoor allemaal bij de input van de login/ */
.loginbox{
    width: 590px;
    height: 635px;
    left: 425px;
    top: 170px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(47 48 70 / 0.2);    background:#ffff;
    color: #fff;
    top: 51%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.registerbox{
    width: 590px;
    height: 635px;
    left: 425px;
    top: 170px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(47 48 70 / 0.2);    background:#ffff;
    color: #fff;
    top: 51%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
/* / icoon  / */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: -30px;
    left: calc(50% - 50px);
}
/* / text  / */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox h1{
    color: #000;
}
/* / maat van de input  / */
.registerbox input{
    width: 100%;
    margin-bottom: 20px;
    top: 1000px;
}

.registerbox input[type="text"], input[type="password"]
{
    width: 289px;
    border: none;
    border-bottom:solid 1px #42447D;
    margin-left: 110px;
    opacity: 0.5;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}


.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox h1{
    color: #000;
}
/* / maat van de input  / */
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    top: 1000px;
}

.loginbox input[type="text"], input[type="password"]
{
    width: 289px;
    border: none;
    border-bottom:solid 1px #42447D;
    margin-left: 110px;
    opacity: 0.5;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
 /* submit / */

#login{
    width: 288.09px;
    border: none;
    margin-left: 21%;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#reg{
    width: 288.09px;
    border: none;
    margin-left: 21%;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#regop{
    width: 288.09px;
    border: none;
    margin-left: 21%;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#login2fa{
    width: 288.09px;
    border: none;
    margin-left: 119px;
    
    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#qrbutton{
    width: 288.09px;
    border: none;
    margin-left: 119px;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}


#qr1{
    padding: 33px 0;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.loginlogin{
    margin-top: 20%;
    margin-left: 3%;
}

.regreg{
    margin-top: 7%;
    margin-left: 3%;
}


/* / hover bij de submit button / */
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#fca03d;
    color: #000;
    width: 100%;
}
/* / link / */
.loginbox a{
    text-decoration: none;
    font-size: 11px;
    line-height: 100px;
    color: darkgrey;
   
    right: 100px;
}
/* / hover link */
.loginbox a:hover
{
    color:#fca03d;
} 

/* Dashboard  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 900;
    /* height: 100%; */
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #42447D;
    overflow-x: hidden;
    padding-top: 20px;
    /* position: fixed; */
    /* overflow: hidden; */
}

.sidenav a {
    padding: 6px 6px 13px 20px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: orange;
}

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
}

.logo {

    border-bottom: 0.1px solid #424361;
    margin-top: -20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
    border-bottom: 0.1px solid #d7d7d7;
    /* margin: 0; */
}

.navtext,
a {
    margin-right: 0;
}

.icon {
    position: relative;
    top: 7px;
    padding-right: 10px;
    width: 35px!important;
    height: 30px!important;
}

.sidenav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-left: -1px;
    margin-right: 10px;
    border: none;
    font-size: 14,5px;
    /* background-image: url('../img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat; */
}

.navlinks {
    margin-top: 30px;
}

.loguitknop {
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
}

.link {
    color: #42447D;
    display: flex;
    text-decoration: none;
    padding: 15px;
    /* font-family: 'Roboto Slab', serif; */
    margin-top: 0.5%;
    font-weight: bold;
    margin-right: 40px;
}

.right {
    margin-left: auto;
}

h2,
h3,
h4,
p {
    padding-left: 20px;

}

/* buttons */
.tabel .btnWrapper {
    list-style-type: none;
}

.tabel .btnWrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
    text-decoration: none;
}

.tabel .add {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 1%;
}

.tabel .delete {
    background: #CD0C0C;
    color: #FFFFFF;
    float: right;
    margin-top: -20px;
    margin-right: 25px;

}

.tabel .export {
    background: #1E8034;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 25px;

} 
/* buttons END */

/* Toevoegen */
.inputWrapper a {
    display: flex;
    font-weight: 500;
    font-size: 16px;    
    line-height: 50px;
    text-decoration: none;
    margin-top: 10px;
}

.inputWrapper #Datum {
    margin-left: 95px;
}

.inputWrapper #Medewerker {
    margin-left: 52px;
}

.inputWrapper #Klant {
    margin-left: 108px;
}

.inputWrapper #Project {
    margin-left: 93px;
}

.inputWrapper #Activiteit {
    margin-left: 79px;
}

.inputWrapper #Uren {
    margin-left: 112px;
}

.inputWrapper #AantalDeclarabel {
    margin-left: 10px;
}

.inputWrapper #Bonus {
    margin-left: 101px;
}

.inputWrapper #Opmerking {
    margin-left: 62px;
}

.inputWrapper .confirm {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 25px;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
} 

/* Toevoegen END */

#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-top: 100px;
}
  
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}
  
  #myTable th {
    font-weight: lighter; 
    text-align: left;
    padding: 12px;
    background: #B7CFE6;
    border: 1px solid #B7CFE6;
  }

  #myTable td {
    text-align: left;
    padding: 12px;
    background: white;
    border: 1px solid white;
    padding-bottom: 50px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
  }
  

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

