/* *{
    background-color: #ffff;
} */

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --bg-primary: #42447D;
    --bg-secondary: orange;
}

.projectSelection {
    font-size: 1em !important;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    background-color: #eee !important;
    width: 100%;
    max-width: 300px !important;
}

.projectSelection1 {
    font-size: 1em !important;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    background-color: #eee !important;
    width: 100%;
    max-width: 300px !important;
}


.container{
    position: fixed;
    display: inline-block;
    left: 0px; 
    top: 0px;
    bottom: 0px;
    right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    /* transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    min-width: 200px;
    min-height: 150px; */
}

.input {
    margin: 10px;
}
#text2fa{
    color: #000;
}

.label {
    display: block;
    font-size: 1em;
    color: #666;
    margin-bottom: 2px;
}

input{
    font-size: 1.4em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    width: 300px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}


/* body, */
body{
    background-color: #cccccc !important;
    margin: 0;
    padding: 0; 
}

/* /dit hoor allemaal bij de input van de login/ */
.loginbox{
    width: 590px;
    height: 635px;
    left: 425px;
    top: 170px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(47 48 70 / 0.2);    background:#ffff;
    color: #fff;
    top: 51%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.registerbox{
    width: 590px;
    height: 635px;
    left: 425px;
    top: 170px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(47 48 70 / 0.2);    background:#ffff;
    color: #fff;
    top: 51%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
/* / icoon  / */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: -30px;
    left: calc(50% - 50px);
}
/* / text  / */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox h1{
    color: #000;
}
/* / maat van de input  / */
.registerbox input{
    width: 100%;
    margin-bottom: 20px;
    top: 1000px;
}

.registerbox input[type="text"], input[type="password"]
{
    width: 289px;
    border: none;
    border-bottom:solid 1px #42447D;
    margin-left: 110px;
    opacity: 0.5;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}


.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox h1{
    color: #000;
}
/* / maat van de input  / */
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    top: 1000px;
}

.loginbox input[type="text"], input[type="password"]
{
    width: 289px;
    border: none;
    border-bottom:solid 1px #42447D;
    margin-left: 110px;
    opacity: 0.5;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
 /* submit / */

#login{
    width: 288.09px;
    border: none;
    margin-left: 21%;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#reg{
    width: 288.09px;
    border: none;
    margin-left: 21%;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#regop{
    width: 288.09px;
    border: none;
    margin-left: 21%;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#login2fa{
    width: 288.09px;
    border: none;
    margin-left: 119px;
    
    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#qrbutton{
    width: 288.09px;
    border: none;
    margin-left: 119px;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}


#qr1{
    padding: 33px 0;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.loginlogin{
    margin-top: 20%;
    margin-left: 3%;
}

.regreg{
    margin-top: 7%;
    margin-left: 3%;
}


/* / hover bij de submit button / */
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#fca03d;
    color: #000;
    width: 100%;
}
/* / link / */
.loginbox a{
    text-decoration: none;
    font-size: 11px;
    line-height: 100px;
    color: darkgrey;
   
    right: 100px;
}
/* / hover link */
.loginbox a:hover
{
    color:#fca03d;
} 

/* Dashboard  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 900;
    /* height: 100%; */
}

.sidenav {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    padding-top: 20px;
    transition: width 200ms ease;
    /* position: fixed; */
    /* overflow: hidden; */
}

.sidenav-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child {
    position: absolute;
    bottom: 0;
}

.nav-link {
    display: flex !important;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

.nav-link svg {
    min-width: 2rem;
}

.nav-logo {
    display: flex !important;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}

.logo-btm {
    margin-top: -20px;
}

.link-text {
    display: none;
    margin-left: 3rem;
    color: white;
}

.sidenav:hover {
    width: 16rem;
}

.sidenav:hover .link-text {
    display: block;
}

.fa-primary {
    color: #ff7eee
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.sidenav a {
    padding: 6px 6px 13px 20px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
}

.main {
    margin-left: 5rem;
    /* Same as the width of the sidenav */
}

.logo {
    width: 100%;
    margin-top: 15px;
}

.navbar {
    height: 81px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
    border-bottom: 0.1px solid #d7d7d7;
    /* margin: 0; */
}

.navtext,
a {
    margin-right: 0;
}

.icon {
    min-width: 0.5rem;
    margin: 0rem;
}

.sidenav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-left: -1px;
    margin-right: 10px;
    border: none;
    font-size: 14,5px;
    /* background-image: url('../img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat; */
}

.loguitknop {
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
}

.link {
    color: #42447D;
    display: flex;
    text-decoration: none;
    padding: 15px;
    /* font-family: 'Roboto Slab', serif; */
    margin-top: 0.5%;
    font-weight: bold;
    margin-right: 40px;
}

.right {
    margin-left: auto;
}

h2,
h3,
h4,
p {
    padding-left: 20px;

}

/* buttons */
.tabel .btnWrapper {
    list-style-type: none;
}

.tabel .btnWrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
    text-decoration: none;
}

.tabel .add {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 1%;
}

.tabel .edit {
    background: orange;  
    color: #FFFFFF; 
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 1%;
}

.tabel .delete {
    background: #CD0C0C;
    color: #FFFFFF;
    float: right;
    margin-top: -20px;
    margin-right: 10px;

}

.tabel .export {
    background: #1E8034;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 101px;
    margin-right: 280px;

} 
/* buttons END */

/* Toevoegen */
.inputWrapper {
    margin-top: 5%;
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.inputWrapper a {
    display: flex;
    font-weight: 500;
    font-size: 16px;    
    line-height: 50px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30%;
}

.inputWrapper .confirm {
    display: flex;
    font-weight: 500;
    font-size: 16px;    
    line-height: 50px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30%;
}

.inputWrapper input {
    width: 300px;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 16px;
}

/* Deze wordt gebruikt in de pop up */
.inputWrapper .confirm {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 25px;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
    cursor: pointer;
} 

.inputWrapper .cancel {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 155px;
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
} 

.Datum {
    margin-bottom: 20px;
}

.Medewerker {
    margin-bottom: 30px;
}

.Project {
    margin-left: 30%;
    margin-top: -95px;
}

.Klant {
    margin-left: 60%;
    margin-top: -65px;
}

.Activiteit {
    margin-bottom: 20px;
}

.Uren {
    margin-bottom: 30px;
}

.Aantal-Declarabel {
    margin-left: 30%;
    margin-top: -95px;
}

.Bonus {
    margin-left: 60%;
    margin-top: -65px;
}

.Opmerking {
    margin-top: 20px;
}
/* Toevoegen END */


/* Pop-up Begin */
.popupCenter, .popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupContent {
    opacity: 0;
    visibility: hidden;
    width: 400px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

#click:checked ~ .popupContent {
    opacity: 1;
    visibility: visible;
}

.popupHeader {
    height: 68px;
    background: #42447D;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    text-align: center;
}

.popupHeader h2 {
    color: #FFFFFF;
    padding-top: 20px;
}

#click {
    display: none;
}

p {
    padding-top: 26px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    height: 80px;
}

.line {
    bottom: 20px;
    width: 100%;
    height: 1px;
    background: black;
}

.popupAccept {
    bottom: 12px;
    right: 80px;
}

.popupDecline {
    bottom: 12px;
    right: 25px;
}

.popupContent a {
    position: absolute;
    border: 1px solid #42447D;
    border-radius: 3px;
    color: #42447D;
    padding: 1px 8px;
    font-size: 18px;
    width: 50px;
    text-align: center;
}

.popupContent a:hover {
    background: #42447D;
    /* background: #fca03d */
    color: #FFFFFF;
}
/* Pop-up END */

/* Klant aanmaken */
.klantWrapper {
    margin-top: 10%;
    margin-left: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.klantHeader {
    margin-right: 40%;
}

.klantWrapper a {
    display: flex;
    font-weight: 500;
    font-size: 16px;    
    line-height: 50px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30%;
}

.klantWrapper input {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 16px;
}

.klantWrapper #Huisnummer {
    height: 50px;
}

.klantWrapper .klantConfirm {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 25px;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
} 

.klantWrapper .klantCancel {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 155px;
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
} 

.klant {
    margin-top: 5%;
    margin-bottom: 20px;
}

.klantStraat {
    margin-bottom: 20px;
}

.klantTelefoon {
    margin-left: 32%;
    margin-top: -95px;
}

.klantWoonplaats {
    margin-left: 32%;
    margin-top: -95px;
}

.klantHuisnummer {
    margin-top: 20px;
}

.klantPostcode {
    margin-left: 32%;
    margin-top: -75px;
}
/* Klant aanmaken END */

/* Project aanmaken */
.projectWrapper {
    margin-top: 10%;
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.projectWrapper a {
    display: flex;
    font-weight: 500;
    font-size: 16px;    
    line-height: 50px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30%;
}

.projectWrapper input {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 16px;
}

.projectSelection1 {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 16px;
}

.projectWrapper .projectConfirm {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 25px;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
} 

.projectWrapper .projectCancel {
    background: #004CD0;  
    color: #FFFFFF; 
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 155px;
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px;
    width: 120px;
    height: 40px;
} 

.h1Text {
    margin-right: 15%;
}

.projectNaam {
    margin-top: 5%;
    margin-left: -5%;
    margin-bottom: 23px;
}

.projectMedewerker {
    margin-left: 20%;
    margin-top: -97px;
}

.projectBeginDatum {
    margin-left: 45%;
    margin-top: -92px;
}

.projectKlant {
    margin-left: 70%;
    margin-top: -95px;
}
/* Project aanmaken END */

#myInput {
    width: 100%;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-top: 40px;
}
  
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -20px;
}
  
#myTable th {
    font-weight: lighter; 
    text-align: center;
    padding: 12px;
    background: #B7CFE6;
    border: 1px solid #B7CFE6;
}

#myTable td {
    text-align: center;
    padding: 12px;
    background: white;
    border: 1px solid white;
    padding-bottom: 50px;
    font-size: small;
    font-weight: lighter;
}
  
#myTable tr {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
}

#myTable li {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
}



#myTable1 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -20px;
}
  
#myTable1 th {
    font-weight: lighter; 
    text-align: center;
    padding: 12px;
    background: #B7CFE6;
    border: 1px solid #B7CFE6;
}

#myTable1 td {
    text-align: center;
    padding: 12px;
    background: white;
    border: 1px solid white;
    padding-bottom: 50px;
    font-size: small;
    font-weight: lighter;
}
  
#myTable1 tr {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
}

#myTable1 li {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
}




#myTable2 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -20px;
}
  
#myTable2 th {
    font-weight: lighter; 
    text-align: center;
    padding: 12px;
    background: #B7CFE6;
    border: 1px solid #B7CFE6;
}

#myTable2 td {
    text-align: center;
    padding: 12px;
    background: white;
    border: 1px solid white;
    padding-bottom: 50px;
    font-size: small;
    font-weight: lighter;
}
  
#myTable2 tr {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
}

#myTable2 li {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    padding: 25px 10px;
    border: 1px solid #eee;
    text-align: left;
}

.overzicht {
    text-align: left;
    margin-left: 2%;
    font-weight: 100;
    margin-top: -1%;
}
  