*{
    background-color: #ffff;
}

.container{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    min-width: 200px;
    min-height: 150px;
}

.input {
    margin: 10px;
}

.label {
    display: block;
    font-size: 1em;
    color: #666;
    margin-bottom: 2px;
}

input{
    font-size: 1.4em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    width: 300px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}


/* body, lichaam van de page/  */
body{
    background-color: #cccccc !important; 
}

/* /dit hoor allemaal bij de input van de login/ */
.loginbox{
    width: 590px;
    height: 635px;
    left: 425px;
top: 170px;
border: 1px solid;
padding: 10px;
box-shadow: 0 3px 10px rgb(47 48 70 / 0.2);    background:#ffff;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

/* / icoon  / */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: -30px;
    left: calc(50% - 50px);
}
/* / text  / */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
/* / maat van de input  / */
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    top: 1000px;
}

.loginbox input[type="text"], input[type="password"]
{
    width: 289px;
    border: none;
    border-bottom:solid 1px #42447D;
    margin-left: 110px;
    opacity: 0.5;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
 /* submit / */

#login{
    width: 288.09px;
    border: none;
    margin-left: 119px;

    outline: none;
    height: 40px;
    background:  #42447D;

    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}




/* / hover bij de submit button / */
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#fca03d;
    color: #000;
}
/* / link / */
.loginbox a{
    text-decoration: none;
    font-size: 11px;
    line-height: 100px;
    color: darkgrey;
   
  right: 100px;
}
/* / hover link */
.loginbox a:hover
{
    color:#fca03d;
} 
